<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/carousel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body>

  <header>
<nav class="navbar navbar-expand-lg navbar bg-dark border-bottom fixed-top border-body " data-bs-theme="dark">
  <i class="bi bi-paint-bucket" style="font-size:25px; color:white"></i>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">ArtFlex Tintas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Leque digital</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cores mais vendidas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cor do ano</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ideias de pintura
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dicas e tutoriais</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Explicando as cores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Inspiração e ambientes</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Tintas base água</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Tintas esmalte</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Massas niveladoras</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Efeitos decorativos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nossos Parceiros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Fale com a gente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Entrar</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
        <button type="button" class="btn btn-success">Buscar</button>
      </form>
    </div>
  </div>
</nav>
  </header>

<main>
  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/imagens/homepagetintaspremium.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color:#ffffff; text-align:left">
        <h5>Tintas Premium</h5>
        <p>A Artflex Tintas possui uma<br>linha de tintas premium para<br>conferir mais beleza e<br>conforto para o seu lar.<br><br><br><br></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/imagens/homepagenossascores.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color:#000000; text-align:left">
        <h5>Nossas cores</h5>
        <p>Nós temos o melhor<br>sistema tintométrico<br>para produzir <br>a cor que você<br>tanto sonha.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/imagens/homepagesustentavel.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="color:#000000; text-align:right">
        <h5>Sustentabilidade</h5>
        <p>A Artflex tintas produz<br> as melhores tintas do <br>mercado e também está<br> engajada com as<br> práticas sustentáveis.<br><br><br></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="../static/imagens/homepagemissao.png" class="bd-placeholder-img rounded-circle" alt="..." width="140" height="140">
        <h2>Missão</h2>
        <p>Proporcionar uma experiencia onde a sua pintura seja uma verdadeira obra de arte.</p>
        <p><a class="btn btn-secondary" href="#">Ver detalhes &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="../static/imagens/homepagevisao.png" class="bd-placeholder-img rounded-circle" alt="..." width="140" height="140">

        <h2>Visão</h2>
        <p>Ser referência nacional em qualidade e atendimento no setor de tintas imobiliárias</p>
        <p><a class="btn btn-secondary" href="#">Ver detalhes &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="../static/imagens/homepagevalores.png" class="bd-placeholder-img rounded-circle" alt="..." width="140" height="140">
        <h2>Valores</h2>
        <p>Inovação, meio ambiente, responsabilidade com os clientes, diversidade e qualidade.</p>
        <p><a class="btn btn-secondary" href="#">Ver detalhes &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Quem somos. <span class="text-muted">A Artflex Tintas.</span></h2>
        <p class="lead">A Artflex Distribuidora de Tintas Ltda, fundada em 2016, é uma empresa com matriz localizada em
          Goiânia - GO. Nossa atividade econômica principal é a fabricação de mais de 40 produtos dentre eles tintas,
          vernizes, esmaltes e lacas nas linhas Econômicas, Standart, Premium e Super Premium. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/imagens/homepageartflextintas.png" class="d-block w-100" alt="..." width="500" height="350">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Cobertura em duas demãos. <span class="text-muted">Nossas tintas são premium.</span></h2>
        <p class="lead">Uma experiência incrível para pintar mais e utilizar menos produto para cobrir a superfície.</p>
      </div>
      <div class="col-md-5">
        <img src="../static/imagens/homepagecobertura.png" class="d-block w-100" alt="..." width="500" height="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Quer a sua cor preferida?. <span class="text-muted">Nosso sistema tintométrico é ótimo!.</span></h2>
        <p class="lead">Temos uma equipe técnica muito capacitada para pigmentar a cor que você tanto sonha!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/imagens/homepagelequecores.png" class="d-block w-100" alt="..." width="500" height="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Tinta impermebializante premium. <span class="text-muted">Emborrachada.</span></h2>
        <p class="lead">Nossa tinta emborrachada confere beleza, proteção e durabilidade para evitar infiltrações em áreas externas.</p>
      </div>
      <div class="col-md-5">
        <img src="../static/imagens/homepageemborrachada.png" class="d-block w-100" alt="..." width="500" height="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <ul style="list-style-type:none; text-align:justify" >
        <p style="font-weight:bold">Institucional</p>
        <li><a href="#" style="text-decoration:none; color:black">Termos de Uso</a></li>
        <li><a href="#" style="text-decoration:none; color:black">Política de privacidade</a></li>
        <li><a href="#" style="text-decoration:none; color:black">Configurações de Cookies</a></li>
        <li><a href="#" style="text-decoration:none; color:black">Regulamento Black friday</a></li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style-type:none; text-align:justify" >
        <p style="font-weight:bold">Atendimento</p>
        <li><a href="#" style="text-decoration:none; color:black">FAQ</a></li>
        <li><a href="#" style="text-decoration:none; color:black"><li>Chat Online</a></li>
        <li>SAC:</li>
        <li>0800 000 0000</li>
        <li style="font-size:15px">De segunda a sexta de 8h às 17h</li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style-type:none; text-align:justify" >
        <p style="font-weight:bold">Central de vendas</p>
        <li><i class="bi bi-instagram"></i> <a href="#" style="text-decoration:none; color:black">Instagram</a></li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style-type:none; text-align:justify" >
        <p style="font-weight:bold">Contato</p>
        <li>Telefone:</li>
        <li>(62) 8449-2488</li>
        <li>E-mail:</li>
        <li>artflextintas@gmail.com</li>
      </ul>
    </div>
  </div>
</div>

<hr class="featurette-divider">

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Voltar ao topo</a></p>
    <p style="font-size:15px; text-align:center">Copyrigth &copy; 2023 Artflex Tintas - Sua pintura uma obra de arte -
      Todos os direitos reservados<br>Artflex Tintas. CNPJ 25.391.950/0001-15</p>

  </footer>
</main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</html>

