<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/carousel.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

<header>
<nav class="navbar navbar-expand-lg navbar bg-dark border-bottom fixed-top border-body " data-bs-theme="dark">
  <i class="bi bi-paint-bucket" style="font-size:25px; color:white"></i>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">ArtFlex Tintas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Leque digital</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cores mais vendidas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cor do ano</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ideias de pintura
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dicas e tutoriais</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Explicando as cores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Inspiração e ambientes</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Tintas base água</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Tintas esmalte</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Massas niveladoras</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Efeitos decorativos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nossos Parceiros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Fale com a gente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('home')}}" >Entrar</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
        <button type="button" class="btn btn-success">Buscar</button>
      </form>
    </div>
  </div>
</nav>
  </header>>

    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta">
            {{menssagem[0]}}
        </div>
    {% endif %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="bi bi-paint-bucket" style="font-size:50px"></i>
    </div>

    <!-- Login Form -->
    <form action="/cadastrar" id="cadastrar" method="post">
      <input type="text"
             id="nome"
             class="fadeIn second"
             name="nome"
             required
             placeholder="Insira o seu nome"
      >
      <input type="email"
             id="email"
             class="fadeIn second"
             name="email"
             required
             placeholder="Insira o seu e-mail"
      >
      <input type="password"
             id="senha"
             class="fadeIn second"
             name="senha"
             required
             placeholder="Insira a sua senha"
             maxlength="10"
             minlength="8"
      >
      <input type="password"
             id="confirmesenha"
             class="fadeIn third"
             name="confirmesenha"
             required
             placeholder="Confirme a sua senha"
             maxlength="10"
             minlength="8"
      >
      <input type="submit" class="fadeIn fourth" value="Cadastrar"
      >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{{ url_for('home')}}">Já tem cadastro? Faça login!</a>
    </div>

  </div>
</div>

  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


  </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
